<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Softrays Information Technology</title>
    <meta
      name="keywords"
      content="computer training, web design, web development, autocad training, revit, solid works, ui ux,  otion graphics, graphics design, microsoft word training, microsoft excel, mini importation, digital marketing, digital marketing agency in ilorin, web design training in ilorin, software development, networking, CCNA, CCNP"
    />
    <meta
      name="description"
      content="Softrays Training Instistute is a Regional training center for Web development, Graphics design, AutoCAD (2D and 3D), CCNA & CCNP, Systems Engineering and Information Technology and Computing."
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div
        class="container d-flex align-items-center"
        style="padding-top: 20px"
      >
        <a href="index.html" class="logo mr-auto"
          ><img src="assets/img/softrays 2.png" alt="" class="img-fluid"
        /></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#team">Testimonials</a></li>

            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->

        <a href="/users/login" class="get-started-btn scrollto">Login</a>
      </div>
    </header>
    <!-- End Header -->
    <br />
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-6
              d-flex
              flex-column
              justify-content-center
              pt-4 pt-lg-0
              order-2 order-lg-1
            "
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>Softrays Technology Institute</h1>
            <h2>
              Regional training center for Web development, Graphics design,
              AutoCAD (2D and 3D), CCNA & CCNP, Systems Engineering and
              Information Technology and Computing.
            </h2>
            <div class="d-lg-flex">
              <a href="/users/register" class="btn-get-started scrollto"
                >Register For a Course</a
              >
              <!-- <a href="#" class="btn-sign-in scrollto">Sign In</a> -->
              <!-- <a href="#" class="venobox btn-watch-video"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Cliens Section ======= -->
      <section id="cliens" class="cliens section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-1.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-2.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-3.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-4.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-5.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="
                col-lg-2 col-md-4 col-6
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <img
                src="assets/img/clients/client-6.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
          </div>

          <div class="row content about-content">
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Softrays Institute is the regional training institute/ support
                center for Information Technology, Certifications, Engineering
                Designs, Business School and Student Industrial Work Experience
                Scheme
                <span style="font-style: italic; color: red"> (SIWES) </span>.
              </p>
              <p>
                The Company is commited to raising technoprenurers and providing
                excellent customer care and making products and services
                affordable.
              </p>
              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
            <div class="col-lg-6">
              <div class="about-quote text-center">
                <div class="quote_image">
                  <img src="assets/img/quote.png" alt="" />
                </div>
                <br />
                <div class="quote_text">
                  <em
                    >There is only one boss. The customer. And he can fire
                    everybody in the company from the chairman on down, simply
                    by spending his money somewhere else.</em
                  >
                </div>
                <br />
                <div class="quote_name">
                  <b>
                    <i class="ri-check-double-line"></i>
                    <span class="quote-name"> Sam Walton </span>
                  </b>
                </div>
              </div>
            </div>

            <!-- <div>
            <p>
              OUR SERVICES
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>  Engineering Design (2D and 3D)</li>
              <li><i class="ri-check-double-line"></i> Laptop Sales,  Repairs and Maintenance</li>
              <li><i class="ri-check-double-line"></i> Corporate and Individual ICT Training </li>
              <li><i class="ri-check-double-line"></i> Internet Service Provider </li>
              <li><i class="ri-check-double-line"></i> Reprographic Services and Sales of Accessories </li>
            </ul>
          </div> -->
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>Our Services at Softrays Information Technology includes</p>
          </div>

          <div class="row services-row">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-file-html"></i></div>
                <h4>
                  <a href="/users/register">Web Design and Development</a>
                </h4>
                <p>
                  Become a Full Stack Web Developer by enrolling for our
                  Complete Web Development Class.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-react"></i></div>
                <h4>
                  <a href="/users/register">Engineering Designs (2D&3D)</a>
                </h4>
                <p>
                  Learn AutoCAD and other Engineering softwares from begineer to
                  advance.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-component"></i></div>
                <h4>
                  <a href="#contact">Corporate and Individual Training</a>
                </h4>
                <p>
                  We also offer special training for individuals and
                  organizations.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-shape-circle"></i></div>
                <h4><a href="/users/register">Systems Engineering</a></h4>
                <p>
                  Become a System specialist today. Enroll for our System
                  Engineering course.
                </p>
              </div>
            </div>
          </div>

          <div class="row services-row">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-planet"></i></div>
                <h4><a href="#contact">Technology Consulting</a></h4>
                <p>We also offer consultation services. Contact us today.</p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-network-chart"></i></div>
                <h4><a href="">Wireless and Wired Networking</a></h4>
                <p>
                  Become a professional Network Specialist. Join our team now!
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-cart-alt"></i></div>
                <h4><a href="">Sales of Accessories</a></h4>
                <p>
                  We sale various types of laptops that meets your needs. Also
                  get your laptops accessories from us today.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Digital Marketing</a></h4>
                <p>
                  Become a Certified Digital Marketer by enrolling today for our
                  complete digital marketing course.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <img src="assets/img/skills.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 content"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <h3>Our Level of Expertise</h3>
              <p class="font-italic">
                We have experts in different fields of study. Below is our
                average level of expertise
              </p>

              <div class="skills-content">
                <div class="progress">
                  <span class="skill"
                    >front end development<i class="val">95%</i></span
                  >
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="95"
                      aria-valuemin="0"
                      aria-valuemax="95"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill"
                    >back end development <i class="val">90%</i></span
                  >
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill"
                    >Graphics Design <i class="val">90%</i></span
                  >
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill"
                    >ENGINEERING DESIGNS <i class="val">90%</i></span
                  >
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3>Register Now</h3>
              <p>
                Click on the button to register for any of our courses. Don't be
                left out. Seize this advantage and register. Acquire a skills
                now!
              </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="/users/register"
                >Register</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Team Section ======= -->
      <!-- ======= Testimonials ======= -->
      <section id="team" class="team section-bg" style="color: white">
        <div class="testimonials container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color: white">Testimonials</h2>
          </div>

          <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                When I came to Softrays I practically knew nothing about how to
                use a computer, but by the time I was done with my training... I
                was already very proficient in the use of several softwares
                particularly AutoCAD. I was so good at it, I began to teach
                people and even do projects for people. I am at my present place
                of employment thanks to this knowledge I acquired while I was
                there. Thanks to Softrays and the team. The drive and passion to
                impact functional knowledge is second to none.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/team/jola.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Olatunji Jola</h3>
              <h4 style="color: white">CAD Engineer at Petroprism Limited</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I started off by learning AutoCAD from Softrays, and one of the
                uniqueness is that you don't just learn skills, they will also
                teach you per time how you can generate income from what you are
                learning. No wonder it was convenient for me to re-enrol for
                another thriving course knowing fully well that I, being an
                entrepreneur would not just leave without knowing how to
                monetize the skill I've just learnt.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/team/festus.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Festus Oladiti</h3>
              <h4 style="color: white">
                Chief Executive Officer of Phestech Business & I.T Hub
              </h4>
            </div>

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Learning AutoCAD at Softrays has taught me that no matter how
                complex a problem may seem, it can be broken down into smaller
                bits which in turn simplifies the problem. The knowledge gained
                has really given me confidence in solving problems in 2D and 3D
                modeling and also in trying out new softwares when the need
                arises.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/team/folu.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Foluso Jude AWOLOLA</h3>
              <h4 style="color: white">
                Post graduate Student at Environmental Engineering at Warsaw
                University of Technology
              </h4>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials  -->
      <!-- <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>Hear from our past students</p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="pic">
                  <img
                    src="assets/img/team/john.jpeg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Ademola John</h4>
                  <span>Chief Executive Officer</span>
                  <p>
                    Explicabo voluptatem mollitia et repellat qui dolorum quasi
                  </p>
                  <div class="social">
                    <a target="_blank" href=""
                      ><i class="ri-twitter-fill"></i
                    ></a>
                    <a target="_blank" href=""
                      ><i class="ri-facebook-fill"></i
                    ></a>
                    <a target="_blank" href=""
                      ><i class="ri-instagram-fill"></i
                    ></a>
                    <a target="_blank" href="">
                      <i class="ri-linkedin-box-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="pic">
                  <img
                    src="assets/img/team/john.jpeg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Ademola John</h4>
                  <span>Chief Executive Officer</span>
                  <p>
                    Explicabo voluptatem mollitia et repellat qui dolorum quasi
                  </p>
                  <div class="social">
                    <a target="_blank" href=""
                      ><i class="ri-twitter-fill"></i
                    ></a>
                    <a target="_blank" href=""
                      ><i class="ri-facebook-fill"></i
                    ></a>
                    <a target="_blank" href=""
                      ><i class="ri-instagram-fill"></i
                    ></a>
                    <a target="_blank" href="">
                      <i class="ri-linkedin-box-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div> -->

      <!-- freedns1.registrar-servers.com
freedns2.registrar-servers.com
freedns3.registrar-servers.com
freedns4.registrar-servers.com
freedns5.registrar-servers.com -->

      <!-- ns29.hostnownow.com
ns30.hostnownow.com -->
      <!-- </div>
        </div>
      </section> -->
      <!-- End Team Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              You can contact us using any of the address below or just drop us
              a message.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>
                    -- Tanke Bubu Street, Beside Sanrab Filling Station, Tanke,
                    Area, Ilorin, Nigeria <br /> <br>
                    -- Aliu Estate shopping complex,Unilorin road, Tanke, Ilorin
                    <br /> <br>
                    -- Office no 6, Unilorin motion-ground, Ilorin, Nigeria
                  </p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@softraysit.com, softraysbiz@gmail.com</p>
                  <p></p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>08100002323, 08144443888</p>
                </div>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.185595139699!2d4.611551315277591!3d8.481327299659826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10364cc29f2a9ad7%3A0xceb9dbc21b502a26!2sSoftrays%20ICT%20Centre!5e0!3m2!1sen!2sng!4v1622908279251!5m2!1sen!2sng"
                  width="100%"
                  height="290"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    data-rule="required"
                    data-msg="Please write something for us"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>
              Below are a list of Frequently asked Questions you may likely have
            </p>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" class="collapse" href="#faq-list-1"
                  >Do I need to pay for SIWES?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-parent=".faq-list"
                >
                  <p>
                    We do not charge you to pay for SIWES buy you have to pay a
                    fee of N10,000 for Certification. The Certificate would be
                    awarded to you at the end of your training session and after
                    completion of all tests and projects. Also note that the
                    above would be paid before the commencement of your SIWES.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-2" class="collapsed"
                  >How is the training session?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                  <p>
                    The training session are in batches. Depending on the time
                    you register, would depend on the batch you fall into. The
                    training consists of theory, practicals and projects.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-3" class="collapsed"
                  >Can I pay in installment?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                  <p>
                    Yes you can pay in installment. At least twice. The fees can
                    be spread by 60% as first payment and 40% for the second
                    payment
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-4" class="collapsed"
                  >Can I register for more than 1 course per time?<i
                    class="bx bx-chevron-down icon-show"
                  ></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                  <p>
                    You can register for more than 1 course for as long as your
                    brain can carry it and you would be able to meet up with
                    your projects
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
                  >Do I need a laptop before I can register or start classes?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                  <p>
                    We recommend that each students has their personal laptop so
                    they would be any issues in class, but in a case where you
                    don't have a laptop, one would be provided for you.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <section id="cta" class="cta">
        <div class="footer-newsletter">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h4>Join Our Newsletter</h4>
                <p>
                  Kindly subscribe to our Newsletter to receive updates on our
                  products and services
                </p>
                <form action="" method="post">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>softrays</h3>
              <p>
                Tanke Bubu <br />
                Behind Sanrab Filling Station<br />
                Tanke, Ilorin <br /><br />
                <strong>Phone:</strong> 08100002323<br />
                <strong>Email:</strong> info@softraysit.com<br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#services">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#training.html">Training</a>
                </li>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li> -->
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Digital Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Engineering Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>
                You can also follow us on any of our social media handles below
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Softrays</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Built and Maintanied by
          <a href="https://www.alexanderjoshua.com.ng" target="_blank"
            >Alexander Joshua</a
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <!--Start of Tawk.to Script-->
    <!-- <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/600028e8c31c9117cb6e8ab5/1es09vka2";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script> -->
    <!--End of Tawk.to Script-->
  </body>
</html>
